<!DOCTYPE html>
<html>
  <head>
    <title>bootcamp Radium</title>
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Awesome landing page of MegaRocket GYM by Pablo Morad"
    />
    <meta name="author" content="Pablo Morad" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/sidebar.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <aside>
      <div class="nav-menu">
        <nav>
          <img src="../../assets/images/logo-sidebar.png" alt="company-logo" />
          <ul>
            <li>Home</li>
            <li><a href="sign-up.html">Sign Up</a></li>
            <li><a href="login.html">Login</a></li>
            <div class="contact-us">
              <li id="contact">Contact</li>
              <img src="../../assets/images/Vector.png" alt="vector-icon" />
            </div>
            <li>Get in touch</li>
            <div class="nav-email">
              <img src="../../assets/images/message.png" alt="message-icon" />
              <li>RocketSA@gmail.com</li>
            </div>
            <div class="nav-celular">
              <img src="../../assets/images/cel.png" alt="celular-icon" />
              <li>(000) 000-000000</li>
            </div>
            <div class="nav-direction">
              <img src="../../assets/images/home.png" alt="home-icon" />
              <li>Somewhere -Zeballos 1410</li>
            </div>
          </ul>
        </nav>
      </div>
    </aside>
    <div class="container-general">
      <header>
        <div class="header-container">
          <div class="header-iconmenu">
            <img src="../../assets/images/Icono-menu.png" alt="menu-icon" />
          </div>
          <div class="header-logo">
            <img
              src="../../assets/images/logo-megarocket.jpg"
              alt="company-logo"
            />
            <h1><span>Mega</span>Rocket</h1>
          </div>
        </div>
      </header>
      <main>
        <div class="container-main">
          <section class="section-megarocketgym">
            <h2><span>Mega</span>Rocket GYM</h2>
            <div class="megarocket-container">
              <img
                src="../../assets/images/mancuernas.jpg"
                alt="mancuernas-img"
              />
              <div class="megarocket-text">
                <h3>Launch your fitness journey with MegaRocket</h3>
                <p>
                  Welcome to Megarocket SA, where we believe in creating a
                  holistic approach to fitness. Our gym is a state-of-the-art
                  facility that caters to all your fitness needs. Whether you're
                  looking to build muscle, increase flexibility, or simply stay
                  healthy, we have everything you need to reach your goals.
                </p>
                <p>
                  Our gym is equipped with the latest fitness equipment,
                  including cardio machines, weightlifting equipment, and
                  functional training areas. We also offer personalized training
                  programs tailored to your specific fitness goals, whether
                  you're a beginner or a seasoned athlete.
                </p>
                <p>
                  At Megarocket SA, we believe that fitness is a lifestyle, not
                  just a hobby. Join us today and start your journey towards a
                  healthier, happier you.
                </p>
              </div>
            </div>
          </section>
          <section class="section-meetus">
            <h3>Meet Us</h3>
            <div class="container-meetus">
              <article class="meet-us">
                <div class="meet-us-media">
                  <img src="../../assets/images/icon1.png" alt="logo-notepad" />
                </div>
                <div class="meet-us-text">
                  <h4>Book an appointment</h4>
                  <p>Book your turn for a visit, come and meet us</p>
                </div>
              </article>
              <article class="meet-us">
                <div class="meet-us-media">
                  <img src="../../assets/images/icon2.png" alt="logo-diary" />
                </div>
                <div class="meet-us-text">
                  <h4>Attention schedule</h4>
                  <p>You will find all our schedules, adapted to your needs.</p>
                </div>
              </article>
              <article class="meet-us">
                <div class="meet-us-media">
                  <img src="../../assets/images/icon3.png" alt="logo-people" />
                </div>
                <div class="meet-us-text">
                  <h4>Membership management</h4>
                  <p>
                    Here you can manage your membership, we have a variety of
                    them, take a look in the GYM section below.
                  </p>
                </div>
              </article>
              <article class="meet-us">
                <div class="meet-us-media">
                  <img src="../../assets/images/icon4.png" alt="logo-notepad" />
                </div>
                <div class="meet-us-text">
                  <h4>Contact form & suggestions</h4>
                  <p>
                    Write to us, our team will always be willing to listen to
                    you!
                  </p>
                </div>
              </article>
            </div>
          </section>
          <section class="section-contact-us">
            <div class="container-contact-us">
              <h3>Contact Us</h3>
              <form class="form-contact-us1">
                <label>Name</label>
                <input type="text" name="Name" placeholder="Name" />
                <label>Last Name</label>
                <input type="text" name="Last-name" placeholder="Last name" />
                <label>Email</label>
                <input type="text" name="Email" placeholder="Email" />
              </form>
              <ul class="list-contact-us">
                <h4>Motive</h4>
                <div class="list">
                  <img src="../../assets/images/check.jpg" alt="check-logo" />
                  <li>I want to know about memberships and costs.</li>
                </div>
                <div class="list">
                  <img src="../../assets/images/nocheck.jpg" alt="check-logo" />
                  <li>I want to make a question or a suggestion</li>
                </div>
                <div class="list">
                  <img src="../../assets/images/nocheck.jpg" alt="check-logo" />
                  <li>I want to make a claim.</li>
                </div>
              </ul>
              <form class="form-contact-us2">
                <label>Message</label>
                <input type="text" name="message" placeholder="Start here.." />
              </form>
              <div class="buttons">
                <button class="button1">SEND MENSAGE</button>
                <button class="button2">RESET</button>
              </div>
            </div>
          </section>
          <section class="section-about-us">
            <div class="container-about-us">
              <h3>About Us</h3>
              <p>
                <span>Megarocket SA</span>gym was founded in 1995 by a former
                Olympic athlete named Max Strong. Max had alway been passionate
                about fitness and wanted to create a gym that would provide
                people with a welcoming and inclusive environment to pursue
                their fitness goals.
              </p>
              <p>
                Over the years, <span>Megarocket SA</span> grew into one of the
                most popular gyms in the city, with a thriving community of
                members who were passionate about fitness. Max continued to run
                the gym until he retired in 2020.
              </p>
              <h4>Our thoughts</h4>
              <div class="box-our">
                <img src="../../assets/images/gim3.png" alt="gim-pic" />
                <p>
                  At <span>Megarocket SA</span>, we believe that fitness is not
                  just a hobby, it's a lifelong journey. Our expert trainers are
                  committed to helping you achieve your goals.
                </p>
              </div>
              <p>
                We believe that fitness is not a one-size-fits-all solution.
                That's why we offer a wide range of classes and services to
                cater to every individual's unique needs and preferences.
              </p>
              <h4>We are a family</h4>
              <div class="box-family">
                <p>
                  We're not just a gym - we're a family. At Megarocket SA,
                  you'll find a supportive and welcoming community that will
                  keep you motivated and inspired to reach your goals.
                </p>
                <img src="../../assets/images/gim2.jpg" alt="gim-pic" />
              </div>
            </div>
          </section>
          <section class="section-gym">
            <h3>GYM Section</h3>
            <div class="container-gym">
              <div class="gym-list">
                <h4>Activities</h4>
                <ul>
                  <li>Crossfit</li>
                  <li>Functional</li>
                  <li>Box</li>
                  <li>Musculation</li>
                </ul>
              </div>
              <div class="gym-list">
                <h4>Black Membership</h4>
                <ul>
                  <li>Free access to musculation room.</li>
                  <li>Free access to classes with pre-inscription</li>
                  <li>Personalized follow up with a trainer.</li>
                  <li>Grid visualization.</li>
                </ul>
              </div>
              <div class="gym-list">
                <h4>Classic Membership</h4>
                <ul>
                  <li>Free access to musculation room.</li>
                  <li>Personalized follow up with a trainer.</li>
                  <li>Grid visualization</li>
                </ul>
              </div>
              <div class="gym-list">
                <h4>Only classes membership</h4>
                <ul>
                  <li>Free access to classes with pre-inscription.</li>
                  <li>Grid visualization</li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </main>
      <footer>
        <div class="container-footer">
          <div class="img-footer">
            <img src="../../assets/images/twitter.png" alt="twitter-pic" />
            <img src="../../assets/images/instagram.png" alt="instagram-pic" />
            <img src="../../assets/images/facebook.png" alt="facebook-pic" />
          </div>
          <p>Copyright © 2023 MegaRocket SA. All rights reserved.</p>
        </div>
      </footer>
    </div>
    <script src="../js/contact.js"></script>
  </body>
</html>
