<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Week06</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="stylesheet" href="../css/layout.css" />
  </head>
  <body>
    <div class="container-general-login">
      <header>
        <div class="header-container">
          <div class="header-logo">
            <img
              src="../../assets/images/logo-megarocket.jpg"
              alt="company-logo"
            />
            <h1><span>Mega</span>Rocket</h1>
          </div>
          <div class="header-back">
            <a href="index.html"
              ><img src="../../assets/images/back.png" alt="icon-go-back"
            /></a>
          </div>
        </div>
      </header>
      <main>
        <div class="main-sign-in">
          <h2 id="main-h2">Sign in</h2>
          <div class="login-container">
            <h3 id="main-h3">Login</h3>
            <form class="login-form">
              <div class="forms">
                <div class="forms-input">
                  <img
                    src="../../assets/images/message1.png"
                    alt="message-icon"
                  />
                  <input
                    type="text"
                    name="email"
                    placeholder="Enter your email"
                  />
                </div>
                <div class="forms-input">
                  <img
                    src="../../assets/images/padlock.png"
                    alt="padlock-icon"
                  />
                  <input
                    type="text"
                    name="password"
                    placeholder="Enter your password"
                  />
                </div>
              </div>
              <div class="login-ul">
                <ul>
                  <li><a href="login.html">Remember me? </a></li>
                  <li><a href="login.html">Forgot Password? </a></li>
                </ul>
              </div>
            </form>
            <div class="main-buttons">
              <button id="login-button">Login</button>
              <button id="sign-up-button">
                <a href="sign-up.html">Sign Up</a>
              </button>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="container-footer">
          <div class="img-footer">
            <img src="../../assets/images/twitter.png" alt="twitter-pic" />
            <img src="../../assets/images/instagram.png" alt="instagram-pic" />
            <img src="../../assets/images/facebook.png" alt="facebook-pic" />
          </div>
          <p>Copyright © 2023 MegaRocket SA. All rights reserved.</p>
        </div>
      </footer>
    </div>
    <script src="../js/login.js"></script>
  </body>
</html>
