<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sing-up Week06</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/sign-up.css" />
    <link rel="stylesheet" href="../css/layout.css" />
  </head>
  <body>
    <div class="container-general-login">
      <header>
        <div class="header-container">
          <div class="header-logo">
            <img
              src="../../assets/images/logo-megarocket.jpg"
              alt="company-logo"
            />
            <h1><span>Mega</span>Rocket</h1>
          </div>
          <div class="header-back">
            <a href="index.html"
              ><img src="../../assets/images/back.png" alt="icon-go-back"
            /></a>
          </div>
        </div>
      </header>
      <main>
        <div class="main-sign-in">
          <h2 id="main-tittle">Sign Up</h2>
          <div class="sign-in-container">
            <h3 id="main-sub">Register</h3>
            <form class="sign-in-form">
              <div class="form-group1">
                <div class="forms-sign-up">
                  <img src="../../assets/images/user.png" alt="person-icon" />
                  <input
                    type="text"
                    name="name"
                    placeholder="Enter your Name"
                  />
                  <span></span>
                </div>
                <div class="forms-sign-up">
                  <img src="../../assets/images/user.png" alt="person-icon" />
                  <input
                    type="text"
                    name="last-name"
                    placeholder="Enter your Last Name"
                  />
                  <span></span>
                </div>
                <div class="forms-sign-up">
                  <img src="../../assets/images/dni.png" alt="dni-icon" />
                  <input type="text" name="dni" placeholder="Enter your DNI" />
                  <span></span>
                </div>
                <div class="forms-sign-up">
                  <img
                    src="../../assets/images/birthdate.png"
                    alt="birthdate-icon"
                  />
                  <input
                    type="text"
                    name="birthdate"
                    placeholder="mm/dd/aaaa"
                  />
                  <span></span>
                </div>
                <div class="forms-sign-up">
                  <img src="../../assets/images/phone.png" alt="phone-icon" />
                  <input
                    type="text"
                    name="phone"
                    placeholder="Enter your Phone number"
                  />
                  <span></span>
                </div>
                <div class="forms-sign-up">
                  <img src="../../assets/images/adress.png" alt="adress-icon" />
                  <input
                    type="text"
                    name="address"
                    placeholder="Enter your Address"
                  />
                  <span></span>
                </div>
              </div>
              <div class="form-group2">
                <div class="forms-sign-up">
                  <img
                    src="../../assets/images/location.png"
                    alt="location-icon"
                  />
                  <input
                    type="text"
                    name="locality"
                    placeholder="Enter your Location"
                  />
                  <span></span>
                </div>
                <div class="forms-sign-up">
                  <img
                    src="../../assets/images/postalcode.png"
                    alt="postal-code-icon"
                  />
                  <input
                    type="text"
                    name="postal-Code"
                    placeholder="Enter your Postal Code"
                  />
                  <span></span>
                </div>
                <div class="forms-sign-up">
                  <img
                    src="../../assets/images/message1.png"
                    alt="email-icon"
                  />
                  <input
                    type="text"
                    name="email"
                    placeholder="Enter your Email"
                  />
                  <span></span>
                </div>
                <div class="forms-sign-up">
                  <img
                    src="../../assets/images/padlock.png"
                    alt="pad-lock-icon"
                  />
                  <input
                    type="password"
                    name="password"
                    placeholder="Enter your Password"
                  />
                  <span></span>
                </div>
                <div class="forms-sign-up">
                  <img
                    src="../../assets/images/padlock.png"
                    alt="pad-lock-icon"
                  />
                  <input
                    type="password"
                    name="repeat-password"
                    placeholder="Repeat password"
                  />
                  <span></span>
                </div>
              </div>
            </form>
            <div class="main-buttons">
              <button id="login-button"><a href="login.html">Login</a></button>
              <button id="sign-up-button">Sign Up</button>
            </div>
            <div id="myModal" class="modal">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 id="modal-tittle">Successfull Register!</h4>
                  <span class="close">&times;</span>
                </div>
                <p id="modal-text"></p>
                <div class="modal-footer">
                  <h5 id="modal-tittle-2">Employee created!</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="container-footer">
          <div class="img-footer">
            <img src="../../assets/images/twitter.png" alt="twitter-pic" />
            <img src="../../assets/images/instagram.png" alt="instagram-pic" />
            <img src="../../assets/images/facebook.png" alt="facebook-pic" />
          </div>
          <p>Copyright © 2023 MegaRocket SA. All rights reserved.</p>
        </div>
      </footer>
    </div>
    <script src="../js/sign-up.js"></script>
  </body>
</html>
