body {
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
main {
    padding-top: 100px;
    position: relative;
    padding-left: 220px;
}
header {
    position: fixed;
    width: 1744px;
    height: 100px;
    margin-left: 176px;
    z-index: 1;
    background-color: #373867;
}
header h1 {
    position: relative;
    display: inline-block;
    left: 152px;
    top: 5px;
    color: #46A37C;
    font-size: 50px;
}
h2 span{
    color: #616280;
}
header img {
    position: relative;
    width: 60px;
    top: 20px;
    right: 200px;
}
.icon-menu {
    position: relative;
    width: 35px;
    top: 6px;
    right: 316px;
}
.container-menu{
    position: fixed;
    height: 100%;
    width: 220px;
    top: 0;
    left: 0;
    padding-top: 50px;
    background-color:#373867 ;
}
.container-menu h2{
    position: relative;
    display: inline-block;
    padding: 15px;
    left: 35px;
    top: 20px;
    color: #46A37C;
    font-size: 20px;
    text-align: center;
}
aside img {
    position: relative;
    right: 65px;
}
.vector {
    position: relative;
    position: relative;
    left: 10px;
}
.message {
    bottom: 2px;
    right: 31px;
    bottom: 45px;
}
.cel {
    position: relative;
    right: 24px;
    bottom: 66px;
}
.home {
    position: relative;
    right: 31px;
    bottom: 110px;
}
aside li{
    display: block;
    width: 140px;
    padding: 25px 0px 20px 0px;
    color: #C4C4C4;
    border-bottom: 5px solid;
    border-bottom-width: 1px;
    list-style: none;
}
.subcont-contact {
    border-bottom: 0px;
    font-size: 25px;
}
.subcont-contact ul{
    font-size: 14px;
}
aside li a{
    color: #C4C4C4;
    text-decoration: none;
}
.contact {
    color: #46A37C;
}
.a-git {
    position: relative;
    top: 10px;
    color: #46A37C;
}
.li-git{
    width: 80px;
    color: #46A37C;
}
.li-git-3 {
    position: relative;
    bottom: 30px;
}
.li-git-4{
    position: relative;
    bottom: 59px;
}
.subcont-list {
    position: relative;
    left: 30px;
    top: 50px;
    font-size: 25px;
}

.box-1, .box-2, .box-3, .box-4, .box-5 {
    position: relative;
    height: 700px;
    width: 1700px;
}
.box-1{
    height: 640px;
}
.box-3{
    height: 900px;
}
.container-box1 {
    position: absolute;
    display: inline-block;
    top: 50px;
    left: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.container-box1 h2{
    display: inline-block;
    top: 50px;
    left: 50px;
    color: #2F3058;
    font-size: 60px;;
}
.box-1 h3 {
    padding-top: 30px;
    padding-bottom: 50px;
    color: #2F3058;
    font-size: 35px;
}
.container-box1 p {
    left: 300px;
    top: 100px;
    width: 677px;
    font-size: 25px;
    text-indent: 15px;
}
.box-1-img {
    position: absolute;
    display: inline-block;
    height: 585px;
    top: 50px;
    right: 20px;
}
.box-2 {
    height: 600px;
}
.box-2-h3 {
    position: absolute;
    top: 90px;
    margin-left: 76px;
    color: #2F3058;
    font-size: 40px;
}
.container-box2 {
    position: absolute;
    display: inline-block;
}
.box-2 section {
    position: relative;
}
.box-2-art {
    width: 1617px;
    position: relative;
    display: inline-block;
    padding: 40px 50px 90px 66px;
    top: 50px;
    margin-top: 50px;
}
.box-2-art3 {
    top: 40px;
    position: absolute;
    right: 50px;
    width: 650px;
    padding-right: 58px;   
    }
.box-2 h4{
    position: relative;
    left: 169px;
    top: 62px;
    color: #373867;
    font-size: 30px;
}
.box-2 p{
    position: relative;
    width: 212px;
    left: 171px;
    bottom: 88px;
    font-size: 16px;
    text-decoration: none;
}
.logo-as{
    position: relative;
    top: 14px;
}
.logo-cs {
    position: relative;
    bottom: 5px;
}
.img-as {
    position: relative;
    top: 11px;
}
.img-cs {
    position: relative;
    bottom: 6px;
}
.container-box3{
    position: absolute;
    height: 900px;
    display: inline-block;
}
.box-3 section{
    position: relative;
    width: 1700px;
    height: 900px;
}
.box-3 form {
    position: relative;
    height: 680px;
    top: 90px;
    margin-left: 80px;
    margin-top: 95px;
}
.box-3-h3 {
    position: absolute;
    color: #2F3058;
    font-size: 40px;
    padding-left: 76px;
}
.box-3 label{
    color: #373867;
    font-size: 30px;
}
.box-3 input {
    position: relative;
    height: 30px;
    width: 571px;
    top: 30px;
    right: 83px;
    border: 1px solid #373867;
    border-radius: 5px;
    padding-left: 46px;
    margin-left: 3px;
    margin-top: 25px;
}
.box-3 input:nth-child(4) {
    position: relative;
    right: 96px;
}
.box-3 label:nth-child(3) {
    position: relative;
    left: 52px;
}
.box-3-email {
    position: relative;
    top: 50px;
}
.box-3-email input {
    position: relative;
    right: 79px;
    height: 30px;
}
.box-3 ul {
    position: relative;
    top: 70px;
    padding-top: 86px;
}
.box-3 ul li{
    font-size: 30px;
    color: #373867;
}
.box-3 ul dd {
    position: relative;
    font-size: 20px;
    top: 8px;
    padding-left: 40px;
    color: #373867;
}
.box-3-check {
    position: relative;
    right: 24px;
    bottom: 23px;
}
.box-3-nocheck {
    position: relative;
    right: 24px;
    bottom: 23px;
}
.box-3-m {
    position: relative;
    top: 95px;
}
.box-3 input:nth-child(8) {
    position: relative;
    width: 1407px;
    height: 81px;
    top: 94px;
    right: 64px;
    border-radius: 5px;
    margin-right: 61px;
    margin-left: 68px;
}
.box-3-buttons {
    position: absolute;
    right: 80px;
    bottom: 13px;
    margin-right: 88px;
    color: #373867;
}
.box3-button1 {
    margin-right: 40px;
    height: 40px;
    background-color: #373867;
    color: #f4f4f4;
    border: 1px solid #373867;
    border-radius: 5px;
}
.box3-button2 {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
    color: #373867;
    border: 1px solid #373867;
}
.box-4 {
    height: 1100px;
}
.box-4 section {
    position: relative;
    height: 1055px;
    padding-left: 76px;
}
.box-4-art1{
    position: relative;
}
.box-4-p1 {
    position: relative;
    padding-right: 49px;
    padding-top: 20px;
    box-sizing: border-box;
}
.box-4-art2{
    position: relative;
}
.box-4-art2 {
    position: relative;
    height: 494px;
}
.box-4-art3 {
    position: relative;
    height: 189px;
}
.box-4 h3{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 40px;
    color: #373867;
}
.box-4 article p {
    height: 100px;
    font-size: 30px;
}
.box-4-img1 {
    position: absolute;
    width: 529px;
    right: 86px;
    padding-right: 81px;
    padding-top: 104px;
    top: 88px;
}
.box-4-img2 {
    position: absolute;
    width: 345px;
    bottom: 60px;
}
.box-4-p2 {
    position: absolute;
    top: 69px;
    left: 90px;
    width: 956px;
    height: 89px;
    margin: 28px 293px;
    box-sizing: border-box;
}
.box-4-p3 {
    position: absolute;
    width: 480px;
    bottom: 33px;
    right: 90px;
    box-sizing: border-box;
    margin-right: 655px;
    padding-right: 3px;
    margin-bottom: 130px;
}
.box-4-art3 h3 {
    position: absolute;
    bottom: 80px;
    padding-bottom: 100px;
}
.box-4-p4 {
    position: absolute;
    width: 907px;
    top: 30px;
}
.container-box5 {
    position: absolute;
    display: inline-block;
    height: 700px;
}
.box-5 section{
    position: relative;
    height: 700px;
}
.box-5 {
    position: relative;
    padding-left: 76px;
    width: 1624px;
}
.box-5 h3 {
    color: #373867;
    font-size: 50px;
}
.box-5 article {
    display: inline-block;
    width: 544px;
    height: 204px;
    position: relative;
}
.box-5 h4 {
    position: relative;
    bottom: 15px;
    padding-top: 30px;
    color: #373867;
    font-size: 35px;
}
.box-5-art1 {
    position: absolute;
    height: 200px;
    width: 480px;
    top: 58px;
    padding: 0px 30px 0px 30px;
    border: 2px solid #49A37B;
    border-radius: 17px;
}
.box-5-art2 {
    position: absolute;
    height: 200px;
    width: 480px;
    top: 60px;
    left: 90px;
    margin-left: 200px;
    padding: 0px 30px 0px 30px;
    border: 2px solid #49A37B;
    border-radius: 17px;
}
.box-5-art3 {
    position: absolute;
    height: 200px;
    width: 480px;
    top: 80px;
    margin-top: 100px;
    padding: 0px 30px 0px 30px;
    border: 2px solid #49A37B;
    border-radius: 17px;
}
.box-5-art4 {
    position: absolute;
    height: 200px;
    width: 480px;
    top: 69px;
    margin-left: 289px;
    margin-top: 112px;
    padding: 0px 30px 0px 30px;
    border: 2px solid #49A37B;
    border-radius: 17px;
}
.box-5 li {
    position: relative;
    left: 20px;
    padding-top: 9px;
    color: #373867;
    font-size: 18px;
}
footer {
    position: relative;
    height: 105px;
    background-color: #2C2C3A;
    width: 1700px;
    margin-left: 219px;
}
.container-footer {
    position: absolute;
    margin: 0px 467px;
    height: 105px;
    width: 760px;
    box-sizing: border-box;
}
.footer-ig {
    position: absolute;
    top: 10px;
    right: 20px;
    margin: 0px 369px;
    box-sizing: border-box;
}
.footer-twt {
    position: absolute;
    top: 14px;
    left: 50px;
    padding: 0px 221px;
}
.footer-fc {
    position: absolute;
    top: 12px;
    left: 79px;
    margin: 0px 330px;
}
footer p {
    position: relative;
    top: 24px;
    padding-top: 43px;
    color: #49A37B;
    font-size: 18px;
    text-align: center;
}