body {
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
main {
    padding-top: 113px;
}
header {
    position: fixed;
    width: 1744px;
    height: 100px;
    margin-left: 176px;
    z-index: 1;
    background-color: #373867;
}
header h1 {
    position: relative;
    display: inline-block;
    left: 152px;
    top: 5px;
    color: #46A37C;
    font-size: 50px;
}
h2 span{
    color: #616280;
}
header img {
    position: relative;
    width: 60px;
    top: 20px;
    right: 200px;
}
.icon-menu {
    position: relative;
    width: 35px;
    top: 6px;
    right: 316px;
}
.container-menu{
    position: fixed;
    height: 100%;
    width: 220px;
    top: 0;
    left: 0;
    padding-top: 50px;
    background-color:#373867 ;
}
.container-menu h2{
    position: relative;
    display: inline-block;
    padding: 15px;
    left: 35px;
    top: 20px;
    color: #46A37C;
    font-size: 20px;
    text-align: center;
}
aside img {
    position: relative;
    right: 65px;
}
.vector {
    position: relative;
    position: relative;
    left: 10px;
}
.message {
    bottom: 2px;
    right: 31px;
    bottom: 45px;
}
.cel {
    position: relative;
    right: 24px;
    bottom: 66px;
}
.home {
    position: relative;
    right: 31px;
    bottom: 110px;
}
aside li{
    display: block;
    width: 140px;
    padding: 25px 0px 20px 0px;
    color: #C4C4C4;
    border-bottom: 5px solid;
    border-bottom-width: 1px;
    list-style: none;
}
.subcont-contact {
    border-bottom: 0px;
    font-size: 25px;
}
.subcont-contact ul{
    font-size: 14px;
}
aside li a{
    color: #C4C4C4;
    text-decoration: none;
}
.contact {
    color: #46A37C;
}
.a-git {
    position: relative;
    top: 10px;
    color: #46A37C;
}
.li-git{
    width: 80px;
    color: #46A37C;
}
.li-git-3 {
    position: relative;
    bottom: 30px;
}
.li-git-4{
    position: relative;
    bottom: 59px;
}
.subcont-list {
    position: relative;
    left: 30px;
    top: 50px;
    font-size: 25px;
}
.box-2-h3 {
    position: relative;
    top: 50px;
    margin-left: 211px;
    color: #2F3058;
    font-size: 40px;
}
#main-h2{
    position: relative;
    display: inline-block;
    color: #2F3058;
    font-size: 50px;
}
.box-1 {
    position: relative;
    display: inline-block;
    left: 300px;
    top: 100px;
}
.box-1 h3{
    padding-top: 30px;
    color: #2F3058;   
    font-size: 30px;
}
.box-1-p {
    position: relative;
    width: 520px;
    height: 400px;
    padding-top: 40px;
}
.box-1-p img {
    position: relative;
    height: 540px;
    bottom: 414px;
    left: 830px;
    padding-left: 200px;
}
.box-1-p p {
    position: relative;
    left: 300px;
    top: 100px;
    font-size: 20px;
    text-indent: 15px;
}
.img-box1{
    position:relative;
    left: 100px;
    top: 10px;
}
.box-2 {
    position: relative;
    display: inline-block;
    top: 50px;
    margin: 100px 0px 100px;
}
.box-2 section {
    position: relative;
    left: 100px;
}
.box-2 article {
    position: relative;
    display: inline-block;
    width: 40%;
    top: 80px;
    left: 287px;
    padding: 40px 50px 90px 30px;
}
.box-2 h4{
    position: relative;
    left: 169px;
    top: 62px;
    color: #373867;
    font-size: 30px;
}
.box-2 p{
    position: relative;
    width: 212px;
    left: 171px;
    bottom: 88px;
    font-size: 16px;
    text-decoration: none;
}
.logo-as{
    position: relative;
    top: 14px;
}
.logo-cs {
    position: relative;
    bottom: 5px;
}
.img-as {
    position: relative;
    top: 11px;
}
.img-cs {
    position: relative;
    bottom: 6px;
}
.box-3 form {
    position: relative;
    height: 450px;
    top: 90px;
    margin-left: 300px;
    margin-top: 60px;
}
.box-3-h3{
    position: relative;
    top: 50px;
    margin-left: 293px;
    color: #2F3058;
    font-size: 40px;
}
.box-3 label{
    color: #373867;
    font-size: 30px;
}
.box-3 input {
    position: relative;
    height: 30px;
    width: 571px;
    top: 30px;
    right: 83px;
    border: 1px solid #373867;
    border-radius: 5px;
}
.box-3 input:nth-child(4) {
    position: relative;
    right: 96px;
}
.box-3 label:nth-child(3) {
    position: relative;
    left: 52px;
}
.box-3-email {
    position: relative;
    top: 50px;
}
.box-3-email input {
    position: relative;
    right: 79px;
    height: 30px;
}
.box-3 ul{
    position: relative;
    top: 100px;
}
.box-3 ul li{
    font-size: 30px;
    color: #373867;
}
.box-3 ul dd {
    position: relative;
    font-size: 20px;
    top: 8px;
    padding-left: 40px;
    color: #373867;
}
.box-3-check {
    position: relative;
    right: 24px;
    bottom: 23px;
}
.box-3-nocheck {
    position: relative;
    right: 24px;
    bottom: 23px;
}
.box-3-m {
    position: relative;
    top: 75px;
}
.box-3 button {
    position: relative;
    height: 32px;
    width: 178px;
    right: 487px;
    top: 228px;
    color: #373867;
    border: 1px solid #373867;
    border-radius: 5px;
}
.box-3 input:nth-child(8) {
    position: relative;
    width: 1300px;
    height: 100px;
    top: 150px;
    right: 124px;
    text-align: left;
    border-radius: 5px;
}
.box-3 button:nth-child(9) {
    position: relative;
    right: 495px;
    background-color: #373867;
    color: #fff;
}
.box-3 button:nth-child(10) {
    position: relative;
    left: 733px;
    top: 160px;
    margin-left: 400px;
    color: #fff;
    color: #373867;
}
.box-4 {
    position: relative;
    display: inline-block;
    height: 1100px;
    padding-left: 300px;
    top: 300px;
    color: #373867;
}
.box-4 h3{
    padding-top: 50px;
    font-size: 40px;
}
.box-4 article {
    display: inline-block;
    padding-top: 30px;
    padding-right: 270px;
}
.box-4 article p {
    height: 100px;
    padding-top: 30px;
    font-size: 25px;
}
.box-4-img1 {
    position: relative;
    width: 494px;
    left: 785px;
    bottom: 138px;
}
.box-4-img2 {
    position: relative;
    width: 345px;
    bottom: 921px;
}
.box-4-p2 {
    position: relative;
    top: 20px;
    right: 20px;
    padding-left: 374px;
}
.box-4-p3 {
    position: relative;
    width: 400px;
    padding-left: 360px;
}
.box-4-h3-3 {
    position: relative;
    bottom: 403px;
}
.box-4-p4 {
    position: relative;
    width: 740px;
    bottom: 417px;
}
.box-5 {
    position: relative;
    bottom: 215px;
    padding-left: 300px;
}
.box-5 h3 {
    color: #373867;
    font-size: 50px;
}
.box-5 article {
    display: inline-block;
    width: 740px;
}
.box-5 h4 {
    position: relative;
    bottom: 15px;
    padding-top: 30px;
    color: #373867;
    font-size: 35px;
}
.box-5-art1 {
    position: relative;
    height: 200px;
    width: 480px;
    top: 40px;
    padding: 0px 30px 0px 30px;
    border: 2px solid #49A37B;
    border-radius: 17px;
}
.box-5-art2 {
    position: relative;
    height: 200px;
    width: 480px;
    top: 40px;
    padding: 0px 30px 0px 30px;
    border: 2px solid #49A37B;
    border-radius: 17px;
}
.box-5-art3 {
    position: relative;
    height: 200px;
    width: 480px;
    top: 132px;
    padding: 0px 30px 0px 30px;
    border: 2px solid #49A37B;
    border-radius: 17px;
}
.box-5-art4 {
    position: relative;
    height: 200px;
    width: 480px;
    top: 100px;
    padding: 0px 30px 0px 30px;
    border: 2px solid #49A37B;
    border-radius: 17px;
}
.box-5 li {
    position: relative;
    left: 20px;
    padding-top: 9px;
    color: #373867;
    font-size: 18px;
}
footer{
    height: 105px;
    background-color: #2C2C3A;
}
footer p {
    position: relative;
    top: 24px;
    padding-top: 43px;
    color: #49A37B;
    font-size: 18px;
    text-align: center;
}
footer img {
    position: relative;
    bottom: 45px;
    left: 872px;
    padding-left: 21px;
}