.section-megarocketgym {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  padding: 20px;
}

.section-megarocketgym h2 {
  font-size: 20px;
  align-self: center;
  font-weight: bold;
  color: #2f3058;
}

.section-megarocketgym span {
  color: #616280;
}

.section-megarocketgym h3 {
  align-self: center;
  margin: 20px 0px;
}

.megarocket-container img {
  align-self: center;
  width: 100%;
  margin-top: 20px;
}

.section-meetus {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  border-top: #d9d9d9 2px solid;
  border-bottom: #d9d9d9 2px solid;
}

.section-contact-us,
.section-about-us,
.section-gym,
.section-meetus {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  padding: 20px;
  border-top: #d9d9d9 2px solid;
  border-bottom: #d9d9d9 2px solid;
}

.meet-us {
  display: flex;
  margin: 30px 0;
}

.meet-us-media {
  width: 30%;
}

.meet-us-media img {
  width: 70%;
}

.meet-us-text {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 20px;
}

.meet-us-text p {
  padding-top: 10px;
}

.form-contact-us1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px 0;
  height: 30vh;
}

.list-contact-us {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 29vh;
}

.list {
  display: flex;
}

.list img {
  width: 15px;
  height: 15px;
  padding-top: 5px;
  padding-right: 5px;
}

.form-contact-us1,
.form-contact-us2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-contact-us2 input {
  height: 15vh;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.section-about-us span {
  font-weight: 700;
}

.container-abous-us h3,
.section-gym h3,
.section-meetus h3 {
  padding: 20px 0px;
}

.container-about-us p {
  padding: 10px 0px;
}

.box-our {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.box-our img {
  width: 40%;
  height: 150px;
}

.box-our p {
  width: 50%;
}

.box-family {
  display: flex;
  justify-content: space-between;
}

.box-family img {
  width: 45%;
  height: 100px;
}

.box-family p {
  width: 50%;
}

.gym-list ul {
  padding-top: 20px;
  padding-left: 20px;
  list-style: decimal;
}

.gym-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
  margin: 20px 0px;
  border: 1px solid #49a37b;
  border-radius: 5px;
}

@media only screen and (min-width: 601px) {
  .container-main {
    margin-left: 40px;
  }

  .section-megarocketgym h2 {
    font-size: 40px;
  }

  .megarocket img {
    max-width: 595px;
    max-height: 400px;
  }

  .section-megarocketgym h3 {
    font-size: 24px;
  }

  .section-megarocketgym p {
    font-size: 16px;
  }

  .meet-us h3 {
    font-size: 30px;
  }

  .meet-us h4 {
    font-size: 24px;
  }

  .meet-us p {
    font-size: 16px;
  }

  .meet-us-media img {
    max-width: 120px;
  }

  .section-contact-us label {
    font-size: 18px;
  }

  .section-contact-us h3 {
    font-size: 24px;
  }

  .section-contact-us li {
    font-size: 20px;
  }

  .section-about-us p {
    font-size: 18px;
  }

  .section-about-us img {
    max-width: 260px;
  }

  .section-gym h3 {
    font-size: 24px;
  }

  .section-gym h4 {
    font-size: 24px;
  }

  .section-gym li {
    font-size: 18px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1024px) {
  sidebar {
    display: flex;
    position: fixed;
    height: 100vh;
  }

  .container-general {
    padding-left: 240px;
  }

  .section-megarocketgym,
  .section-meetus,
  .section-about-us {
    width: 90%;
  }

  .section-megarocketgym p,
  .section-meetus p,
  .section-about-us p {
    font-size: 1.1rem;
  }

  .section-megarocketgym h2 {
    align-self: baseline;
    padding-left: 20px;
  }

  .megarocket-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .megarocket-container img {
    width: 40%;
    min-height: 350px;
  }

  .megarocket-text {
    width: 50%;
    padding-left: 20px;
  }

  .section-meetus h3,
  .section-contact-us h3,
  .container-abous-us h3 {
    font-size: 2rem;
  }

  .container-meetus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

  .meet-us {
    width: 45%;
  }

  .form-contact-us1 {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form {
    width: 45%;
  }

  .box-our img {
    height: auto;
  }

  .box-family img {
    min-height: 200px;
  }

  .container-gym {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  .gym-list {
    width: 40%;
  }
}
