* {
  font-family: "Roboto", "Arial";
}

.header-container {
  display: flex;
  height: 110px;
  background-color: #373867;
}

header {
  position: fixed;
  width: 100%;
}

main {
  padding-top: 110px;
}

.container-general {
  display: flex;
  flex-direction: column;
}

main h3 {
  align-self: baseline;
  color: #2f3058;
  font-size: 20px;
  font-weight: bold;
}

body {
  display: flex;
}
main p {
  font-size: 14px;
}

main h4 {
  color: #373867;
  font-size: 20px;
  font-weight: bold;
}
label {
  font-size: 14px;
  color: #373867;
  font-weight: 600;
}

input {
  height: 3vh;
  border: 1px solid #373867;
  border-radius: 5px;
  border-color: #373867;
}

.button1 {
  height: 4vh;
  width: 13vh;
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  background-color: #373867;
}
.button2 {
  width: 13vh;
  height: 4vh;
  border: 1px solid;
  border-radius: 5px;
  color: #373867;
}

sidebar {
  display: none;
  width: 240px;
  background-color: #373867;
}
