* {
  font-family: 'Roboto', 'Arial';
}

.container-general {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
}

label {
  font-size: 14px;
  color: #373867;
  font-weight: 600;
}

input {
  height: 3vh;
  border: 1px solid #373867;
  border-radius: 5px;
  border-color: #373867;
}

.button1 {
  height: 4vh;
  width: 15vh;
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  background-color: #373867;
}
.button2 {
  width: 13vh;
  height: 4vh;
  border: 1px solid;
  border-radius: 5px;
  color: #373867;
}
